<h1>Confboard</h1>
<div id="container">

<%  @attachment.each do |att| %>
<div class="item">
	<%= att.first['id'] %>
	<%= image_tag att.first['url'] %>
     <%= controller.thebest %>
</div>

<% end %>
</div> 


<script type="text/javascript">

$('#container').isotope({

	itemSelector : '.item',
	layoutMode : 'fitRows'

});




  </script>