// Place all the styles related to the confcontent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.item {


-moz-border-radius: 15px;
border-radius: 5px;

width:400px;
padding:10px;
border:1.8px solid #999;
margin:10px;

box-shadow: 1px 1px 1px #999;

}

img {
	
	max-width: 100%
}